
@media screen and (max-width: 600px) {


}
.header{
    display: flex;
    justify-content: space-between;
}
.try{
    background-color: aliceblue;
    border: 0;
    border-radius: 2px;
    text-align: center;
    padding-top: 10px;
}
.section{
    display: flex;
    box-shadow: 0px 0px 46px rgba(0, 0, 0, 0.1);
    /* width: 60%; */
    margin: auto;
    border: 7px solid white;
    border-radius: 10px;
}
.quwa{
    margin-top: 70px;
    margin-left: 20px;
    line-height: 1.4;
    color: rgb(165, 134, 134);
}